# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\vscode\JAVA_workspace\bluetooh_helper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
